body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.logo {
  margin: 20px auto 10px auto;
  text-align: center;
}

.logo__icon {
  position: absolute;
  font-size: 150%;
  top: 22px;
  left: 20px;
  color: black;
}

.background-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 250px;
}

.menu {
  background-color: #f4f4f4;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -70px;
  position: relative;
  padding: 30px 5%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-container__title {
  font-family: "Shrikhand", cursive;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 5%;
}
.header-container__icon {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  margin: 5px;
}
.header-container__icon--full {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  color: #FF79DA;
  text-align: center;
  opacity: 0%;
  margin: 5px;
}
.header-container__icon--full:hover {
  opacity: 100%;
  transition-duration: 1500ms;
  scale: 0.82;
}

.heart-container {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.submenu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 1;
}
.submenu__title {
  color: #4d4d4d;
  position: relative;
  padding-bottom: 5px;
  margin-top: 20px;
}
.submenu__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
@-webkit-keyframes rise-up {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rise-up {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-item {
  background-color: #fff;
  border-radius: 15px;
  height: 70px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  overflow: hidden;
  position: relative;
}
.menu-item__text {
  padding: 10px;
  width: 78%;
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__text > h4:first-child {
  margin-bottom: 5px;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__text > p:last-child {
  margin: 0;
  color: #4d4d4d;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__price {
  font-weight: bold;
  padding: 34px 10px 0 0;
  transition: 1s;
  transform: translateX(65px);
  position: absolute;
  right: 80px;
}
.menu-item .check {
  color: #fff;
  background-color: #99e2d0;
  font-size: 150%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 23px;
  transition: 1s;
  transform: translateX(70px);
  position: absolute;
  right: 0;
}
.menu-item .check__icon {
  transform: rotate(0deg);
  transition-duration: 600ms;
}
.menu-item:hover .check {
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}
.menu-item:hover .check__icon {
  transition-duration: 600ms;
  transform: rotate(360deg);
  transition-delay: 400ms;
}
.menu-item:hover .menu-item__price {
  transform: translateX(0px);
  transition-timing-function: ease-in-out;
}
.menu-item:hover .menu-item__text {
  width: 60%;
}

.order-btn {
  border-radius: 30px;
  color: #fff;
  background: #ff79da;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 98%);
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 30%;
  margin: 0 auto;
  box-shadow: 3px 3px 14px 0px #a7a7a7;
  transform: scale(1);
  transition: transform 400ms;
  max-width: 120px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.order-btn:hover {
  transform: scale(1.15);
  background: linear-gradient(180deg, #ff93e1, #a16be0);
  box-shadow: 3px 3px 14px 0px #5b5b5b;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 30px 10%;
}
.footer-container__logo {
  font-family: "Shrikhand", cursive;
  color: #f4f4f4;
  font-size: 120%;
  padding-bottom: 20px;
}
.footer-container__link {
  text-decoration: none;
  color: #f4f4f4;
}
.footer-container__icon {
  padding-right: 10px;
  width: 15px;
}

.delay-1 {
  -webkit-animation: rise-up 1s forwards;
          animation: rise-up 1s forwards;
}

.delay-2 {
  -webkit-animation: rise-up 2s forwards;
          animation: rise-up 2s forwards;
}

.delay-3 {
  -webkit-animation: rise-up 3s forwards;
          animation: rise-up 3s forwards;
}/*# sourceMappingURL=style.css.map */